// Body
// $body-bg: #f8fafc;
// $body-bg: #edf3f3;
$body-bg: #F5F6F8;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$gray: #868e96;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #5A6169;
$success: #17c671;
$info: #00b8d8;
$warning: #ffb400;
$danger: #c4183c;
$light: #FBFBFB;
$dark: #212529;
$black: #000000;

$navyBlue: #022d62;